<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Get things done with Chunks  | <%= yield(:title) %></title>
	<%= stylesheet_link_tag    "application", media: "all",
	                           "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <script src="js/respond.js"></script> XXXX -->
</head>
<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
	<!-- Navbar ================================================== -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="home">Chunks</a>
				<div class="nav-collapse collapse" id="main-menu">
					<ul class="nav" id="main-menu-left">
						<li><a id="swatch-link" href="contact">Contact</a></li>
						<li><a id="swatch-link" href="help">FAQ</a></li>
					</ul>
					<ul class="nav pull-right" id="main-menu-right">
						<li><a id="swatch-link" href="#">Sign Up</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>